.navbar-custom {
  background: linear-gradient(to right, #FF9800, #3C0080);
  color: #FFFFFF; /* White text */
  
    
    
  }
  
  .brand-name {
    padding-left: 20px;
    font-family: 'Georgia', serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .navbar-custom .nav-link {
    color:white;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
  }
  
  .navbar-custom .nav-link:hover {
    text-decoration: underline;
  }

  .ms-auto{
    padding-left: 10px;
    padding-right: 30px;
  }
  i{
    padding-right: 2px;
  }
  